In [97]:
#Importando as bibliotecas necessárias
import pandas as pd
import numpy as np

#Função para ler o arquivo csv
def get_data(path):
    read_path = pd.read_csv(path)
    return read_path

#Reformatando o dtype das colunas
data = get_data('kc_house_data.csv')
data = data.drop(columns=['sqft_above', 'sqft_basement', 'sqft_living15', 'sqft_lot15', 'yr_renovated'])

data['date'] = pd.to_datetime(data['date']).dt.strftime('%d-%m-%Y')
data['year'] = np.int64(pd.to_datetime(data['date']).dt.strftime('%Y'))
data['age'] = data['year'] - data['yr_built']

data['bathrooms'] = round(data['bathrooms'] - 0.3)
data['floors'] = round(data['floors'] - 0.3)
data['sqft_living'] = round(data['sqft_living'] / 10.764, 2)

data['id']=np.str(data['id'])
data.head()

                                                  id        date     price  bedrooms  ...      lat     long  year  age
0  0        7129300520\n1        6414100192\n2   ...  13-10-2014  221900.0         3  ...  47.5112 -122.257  2014   59
1  0        7129300520\n1        6414100192\n2   ...  09-12-2014  538000.0         3  ...  47.7210 -122.319  2014   63
2  0        7129300520\n1        6414100192\n2   ...  25-02-2015  180000.0         2  ...  47.7379 -122.233  2015   82
3  0        7129300520\n1        6414100192\n2   ...  09-12-2014  604000.0         4  ...  47.5208 -122.393  2014   49
4  0        7129300520\n1        6414100192\n2   ...  18-02-2015  510000.0         3  ...  47.6168 -122.045  2015   28

[5 rows x 18 columns]

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  object
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  float64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
 20  year           21613 non-null  int64
 21  age            21613 non-null  int64
dtypes: float64(6), int64(14), object(2)
memory usage: 3.6+ MB

In [95]:
data['id']

0        0        7129300520\n1        6414100192\n2   ...
1        0        7129300520\n1        6414100192\n2   ...
2        0        7129300520\n1        6414100192\n2   ...
3        0        7129300520\n1        6414100192\n2   ...
4        0        7129300520\n1        6414100192\n2   ...
                               ...
21608    0        7129300520\n1        6414100192\n2   ...
21609    0        7129300520\n1        6414100192\n2   ...
21610    0        7129300520\n1        6414100192\n2   ...
21611    0        7129300520\n1        6414100192\n2   ...
21612    0        7129300520\n1        6414100192\n2   ...
Name: id, Length: 21613, dtype: object